<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <p>Name: <input type="text" name="recipe[name]" id="name"></p>
      <p>Ingredients: <input type="text" name="recipe[ingredients]" id="ingredients"></p>
      <p>Cook Time: <input type="text" name="recipe[cook_time]" id="cook_time"></p>
      <input type="submit" name="submit" value="Submit" id="submit">
    </form>
  </body>
</html>
